* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: rgb(255, 243, 233);
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 20px 0; 
  text-align: center; 
  background-color: rgb(251, 238, 227);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(0, 0, 0);
  animation: fadeIn 0.5s ease-in-out;
  color: rgb(0, 0, 0)
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 80px;
  width: 100px;
  font-size: 20px;
  font-family: system-ui, sans-serif;
  background-color: rgb(251, 238, 227);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.6s ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0)
}

.rules:hover {
  background-color: rgb(253, 224, 199);
}

div.grid-wrapper {
  display: flex;
  flex-grow: 0.7; 
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadeIn 0.7s ease-in-out;
  text-align: center;
}

.grid {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(248, 227, 209);
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  animation: fadeIn 0.7s ease-in-out;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.grid.easy-mode {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 400px;
  height: 460px;
}

.grid.hard-mode {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 520px;
  height: 460px;
}

#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  animation: fadeIn 0.8s ease-in-out;
}

.text-input {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  height: 90px;
  width: 110px;
  font-family: system-ui, sans-serif;
  background-color: rgb(255, 244, 235);
  margin-right: 10px; 
  animation: fadeIn 0.8s ease-in-out;
  color: rgb(0, 0, 0)
}

#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 70px;
  width: 90px;
  font-size: 20px;
  font-family: system-ui, sans-serif;
  background-color: rgb(251, 238, 227);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-in-out;
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0)
}

#submit-button:hover {
    background-color: rgb(253, 224, 199);
}

.guesses-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  animation: fadeIn 0.9s ease-in-out;
  color: rgb(0, 0, 0)
}

#guesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin-left: 5px;
}

#win-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  width: 120px;
  height: 70px;
  margin-bottom: 20px;
  animation: fadeIn 0.9s ease-in-out;
  color: rgb(0, 0, 0)
}

#win-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
  color: rgb(0, 0, 0)
}

.mode-container {
 display: flex;
}

.hard-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 40px;
  height: 70px;
  width: 100px;
  font-family: system-ui, sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: rgb(251, 238, 227);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.6s ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0)
}

.hard-mode-button:hover {
  background-color: rgb(253, 224, 199);
}

.easy-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 40px;
  height: 70px;
  width: 100px;
  font-family: system-ui, sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: rgb(251, 238, 227);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.6s ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0)
}

.easy-mode-button:hover {
  background-color: rgb(253, 224, 199);
}

.grid div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(253, 243, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* Adjust font size for letters */
  animation: fadeIn 0.6s ease-in-out;
  text-align: center;
}

.grid div.correct {
  background-color: rgb(113, 255, 168);
  transition: background-color 0.6s ease;
  text-align: center;
}

.grid div.misplaced {
  background-color: rgb(255, 189, 97);
  transition: background-color 0.6s ease;
  text-align: center;
}

.grid div.incorrect {
  background-color: rgb(255, 115, 115);
  transition: background-color 0.6s ease;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#play-again {
  display: none;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(113, 255, 168);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(0, 0, 0)
}

#play-again:hover {
  background-color: rgb(102, 228, 150);
}

@media (max-width: 420px) { 
  body {
    justify-content: flex-start; 
    padding: 20px; 
  }

  h1 {
    font-size: 6vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid div {
    justify-content: center;
    height: 12vw;
    width: 13vw;
    text-align: center;
  }

  .rules {
    
    height: auto;
    font-size: 5vw;
    margin: 20px 0;
  }

  .text-input, #submit-button, .guesses-box, #win-counter {
    font-size: 4vw;
    padding: 10px;
  }

  .grid.easy-mode {
    width: 80vw;
    height: auto;
  }

  .grid.hard-mode {
    width: 90vw;
    height: auto;
  }
}

